<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <!-- phpMyAdmin ve diğer statik dosyalar için istisna -->
                <rule name="Exclude phpMyAdmin" stopProcessing="true">
                    <match url="^phpMyAdmin/.*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="None" />
                </rule>

                <rule name="Exclude giris" stopProcessing="true">
                    <match url="^giris/.*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="None" />
                </rule>
                <!-- Statik dosyalar için istisna -->
                <rule name="Static Files" stopProcessing="true">
                    <match url="^(scripts|images|css|js|fonts)/.*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="None" />
                </rule>

                <!-- Anasayfa için özel kural -->
                <rule name="Ana Sayfa" stopProcessing="true">
                    <match url="^konak?$" />
                    <action type="Rewrite" url="index.php" />
                </rule>

                <rule name="Ana Sayfa2" stopProcessing="true">
                    <match url="^ana-sayfa?$" />
                    <action type="Rewrite" url="index.php" />
                </rule>

                <!-- Haberler için özel kural -->
                <rule name="Haberler" stopProcessing="true">
                    <match url="^haberler?$" />
                    <action type="Rewrite" url="news.php" />
                </rule>

                <!-- Haber detay sayfası için özel kural -->
                <rule name="Haber Detay" stopProcessing="true">
                    <match url="^haberler/([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="news_detail.php?seo_url={R:1}" />
                </rule>

                <!-- Duyurular için özel kural -->
                <rule name="Duyurular" stopProcessing="true">
                    <match url="^duyurular?$" />
                    <action type="Rewrite" url="announcements.php" />
                </rule>

                <!-- Duyuru detay sayfası için özel kural -->
                <rule name="Duyuru Detay" stopProcessing="true">
                    <match url="^duyurular/([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="announcements_detail.php?seo_url={R:1}" />
                </rule>

                <!-- Etkinlikler için özel kural -->
                <rule name="Etkinlikler" stopProcessing="true">
                    <match url="^etkinlikler?$" />
                    <action type="Rewrite" url="activities.php" />
                </rule>

                <!-- Etkinlikler detay sayfası için özel kural -->
                <rule name="Etkinlik Detay" stopProcessing="true">
                    <match url="^etkinlikler/([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="activities_detail.php?seo_url={R:1}" />
                </rule>

                <!-- Müdürlükler için özel kural -->
				<rule name="Mudurlukler Page" stopProcessing="true">
                    <match url="^mudurlukler?$" />
                    <action type="Rewrite" url="mudurlukler.php" />
                </rule>

				<!-- Müdürlükler detay sayfası için özel kural -->
                <rule name="Mudurluk Detay" stopProcessing="true">
                    <match url="^mudurlukler/([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="mudurluk_detail.php?seo_url={R:1}" />
                </rule>
				
				<!-- İlçe Yapısı ve Muhtarlıklar için özel kural -->
				<rule name="Muhtarlik Page" stopProcessing="true">
                    <match url="^ilce-yapisi-ve-muhtarliklar?$" />
                    <action type="Rewrite" url="muhtarliklar.php" />
                </rule>

				<!-- İlçe Yapısı ve Muhtarlıklar detay sayfası için özel kural -->
                <rule name="Muhtarlik Detay" stopProcessing="true">
                    <match url="^ilce-yapisi-ve-muhtarliklar/([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="muhtarlik_detail.php?seo_url={R:1}" />
                </rule>

                <rule name="Kardeş Şehirler Page" stopProcessing="true">
                    <match url="^kardes-sehirler?$" />
                    <action type="Rewrite" url="kardes_sehirler.php" />
                </rule>

                <rule name="Üye Olunan Kuruluşlar" stopProcessing="true">
                    <match url="^uye-olunan-kuruluslar?$" />
                    <action type="Rewrite" url="uye_olunan_kuruluslar.php" />
                </rule>

                <rule name="İşbirliği Yaptığımız Belediyeler" stopProcessing="true">
                    <match url="^isbirligi-yaptigimiz-belediyeler?$" />
                    <action type="Rewrite" url="isbirligi_yaptigimiz_belediyeler.php" />
                </rule>

                <!-- Meclis Kararları Tarih Filtre -->
                <rule name="Meclis Kararları Tarih Filtre" stopProcessing="true">
                    <match url="^meclis-karar-ozetleri/([0-9]{4})/([0-9]{2})$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="meclis_dosya.php?year={R:1}&amp;month={R:2}" />
                </rule>
                <!-- Meclis Kararları Varsayılan -->
                <rule name="Meclis Kararları Varsayılan" stopProcessing="true">
                    <match url="^meclis-karar-ozetleri$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="meclis_dosya.php" />
                </rule>

                <rule name="Meclis Tutanakları Tarih Filtre" stopProcessing="true">
                    <match url="^meclis-tutanaklari/([0-9]{4})/([0-9]{2})$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="meclis_dosya.php?year={R:1}&amp;month={R:2}" />
                </rule>
                <!-- Meclis Tutanak Varsayılan -->
                <rule name="Meclis Tutanakları Varsayılan" stopProcessing="true">
                    <match url="^meclis-tutanaklari$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="meclis_dosya.php" />
                </rule>

                <rule name="Meclis Gundemi Tarih Filtre" stopProcessing="true">
                    <match url="^meclis-gundemi/([0-9]{4})/([0-9]{2})$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="meclis_dosya.php?year={R:1}&amp;month={R:2}" />
                </rule>
                <!-- Meclis Gundemi Varsayılan -->
                <rule name="Meclis Gundemi Varsayılan" stopProcessing="true">
                    <match url="^meclis-gundemi$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="meclis_dosya.php" />
                </rule>

                <rule name="Projelerimiz" stopProcessing="true">
                    <match url="^projelerimiz?$" />
                    <action type="Rewrite" url="projelerimiz.php" />
                </rule>

                <rule name="Proje Detay" stopProcessing="true">
                    <match url="^projeler/([a-zA-Z0-9_-]+)$" />
                    <action type="Rewrite" url="projelerimiz_detail.php?seo_url={R:1}" />
                </rule>
				
				 <!-- Fotoğraflarla Konak için özel kural -->
				<rule name="Fotoğraflarla Konak Page" stopProcessing="true">
                    <match url="^fotograflarla-konak?$" />
                    <action type="Rewrite" url="gallery.php" />
                </rule>

                <!-- Arama için getir.php ile eşleştir -->
                <rule name="Getir Php" stopProcessing="true">
                    <match url="^search$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^q=.*" />
                    </conditions>
                    <action type="Rewrite" url="getir.php" />
                </rule>              

                <rule name="İletişim" stopProcessing="true">
                    <match url="^iletisim?$" />
                    <action type="Rewrite" url="iletisim.php" />
                </rule>

                <!-- Sayfa adını inner_page.php ile eşleştir -->
                <rule name="Inner Page" stopProcessing="true">
                    <match url="^([^/]+)$" />
                    <action type="Rewrite" url="inner_page.php?page_name={R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>